<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>

                    {%- if site.data.profile.education -%}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Education</h6>
                            <ul class="teach-list list-unstyled mb-0">
                                {%- for item in site.data.profile.education -%}
                                <li class="teach-item">
                                    <div class="teach-rows">
                                        <!-- linke Spalte -->
                                        <div class="teach-left">
                                            <h5 class="mb-1 hyphens-auto">{{ item.name }}</h5>
                                            <div class="teach-meta">
                                                <div class="teach-label">Position</div>
                                                <div class="teach-value">{{ item.position }}</div>
                                                {# Education hat i.d.R. keine Lecture – nur anzeigen, falls vorhanden #}
                                                {%- if item.lecture -%}
                                                <div class="teach-label">Lecture</div>
                                                <div class="teach-value">{{ item.lecture }}</div>
                                                {%- endif -%}
                                            </div>
                                        </div>
                                        <!-- rechte Spalte (Datum) -->
                                        <div class="teach-date">{{ item.date }}</div>
                                    </div>
                                </li>
                                {%- endfor -%}
                            </ul>
                        </div>
                    </div>
                    {%- endif -%}

                    {%- if site.data.profile.experience -%}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Experience</h6>
                            <ul class="teach-list list-unstyled mb-0">
                                {%- for item in site.data.profile.experience -%}
                                <li class="teach-item">
                                    <div class="teach-rows">
                                        <div class="teach-left">
                                            <h5 class="mb-1 hyphens-auto">{{ item.name }}</h5>
                                            <div class="teach-meta">
                                                <div class="teach-label">Position</div>
                                                <div class="teach-value">{{ item.position }}</div>
                                                {%- if item.lecture -%}
                                                <div class="teach-label">Lecture</div>
                                                <div class="teach-value">{{ item.lecture }}</div>
                                                {%- endif -%}
                                            </div>
                                        </div>
                                        <div class="teach-date">{{ item.date }}</div>
                                    </div>
                                </li>
                                {%- endfor -%}
                            </ul>
                        </div>
                    </div>
                    {%- endif -%}

                    {%- if site.data.profile.teaching -%}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Teaching</h6>
                            <ul class="teach-list list-unstyled mb-0">
                                {%- for t in site.data.profile.teaching -%}
                                <li class="teach-item">
                                    <div class="teach-rows">
                                        <div class="teach-left">
                                            <h5 class="mb-1 hyphens-auto">{{ t.name }}</h5>
                                            <div class="teach-meta">
                                                <div class="teach-label">Position</div>
                                                <div class="teach-value">{{ t.position }}</div>
                                                {%- if t.lecture -%}
                                                <div class="teach-label">Lecture</div>
                                                <div class="teach-value">{{ t.lecture }}</div>
                                                {%- endif -%}
                                            </div>
                                        </div>
                                        <div class="teach-date">{{ t.date }}</div>
                                    </div>
                                </li>
                                {%- endfor -%}
                            </ul>
                        </div>
                    </div>
                    {%- endif -%}

                </div>
            </div>
        </div>
    </div>
</div>
